
.container{
    span {
        padding-bottom: 20px !important;
    }
}

.background {
    border-radius: 3% 3% 3% 3% / 3% 3% 3% 3%;
}

.image {
    img {
        width: 100% !important;
        height: 100% !important;
    }
}

// .background::after {
//   content: "";
//   position: absolute;
//   height: 80px;
//   left: 5%;
//   right: 5%;
//   border-radius: 80%;
//   bottom: -30px;
//   background: #353570;
// }

// .triangle {
//     width: 0; 
// 	height: 0; 
// 	border-left: 5px solid transparent;
// 	border-right: 5px solid transparent;
// 	border-top: 5px solid #2f2f2f;
// 	font-size: 0;
// 	line-height: 0;
// }