.stepbox {
    transition: height 0.3s linear;
}

.stepcard {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.step1full {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.step2full {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.step3full {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.step4full {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}