@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.pond {
  background-image: url("/images/pond-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url("/images/pond-bg-large.svg");
  }
}

.pond__icon:hover {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b3fbf7 39.53%,
    rgba(163, 234, 229, 0) 100%
  );
}

.subscribe-button:focus-within {
  box-shadow: 0 0 0 1px #171753 inset;
}

.grant-program {
  background: linear-gradient(180deg, #171753 7.18%, rgba(23, 23, 83, 0) 100%);
}

.force-hide {
  display: none !important;
}
