@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.pond__icon:hover {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b3fbf7 39.53%,
    rgba(163, 234, 229, 0) 100%
  );
}

.subscribe-button:focus-within {
  box-shadow: 0 0 0 1px #171753 inset;
}

.grant-program {
  background: linear-gradient(180deg, #171753 7.18%, rgba(23, 23, 83, 0) 100%);
}

.force-hide {
  display: none !important;
}



@layer utilities {

  .clip-light-triangle {
    background: linear-gradient(180.24deg, rgba(66, 232, 224, 0.5) 2.08%, rgba(217, 217, 217, 0) 86.79%);
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  }

  .section-bottom-transition {  
    border-radius: 0% 0% 50% 50% / 0% 0% 25% 25%;
  }

  .section-bottom-transition-desktop {  
    border-radius: 0% 0% 30% 70% / 0% 0% 48% 48%  ;
  }
}
