.hero1 {
    background: linear-gradient(140.29deg, #C5F7D0 21.63%, #FFFFFF 72.72%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.hero2 {
    background: linear-gradient(161.29deg, #97E8E3 0.63%, #FFFFFF 63.72%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.hero3 {
    background: linear-gradient(140.29deg, #97AEE8 21.63%, #FFFFFF 72.72%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}